//Song ở trong song list
.song {
    margin-left: 20px;
    // margin-bottom: 10px;
    display: inline-block;
    img {
        height: 145px;
        width: 150px;
        border-radius: 5px;
    }
    .songName {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        margin-top: 11px;
        margin-bottom: 6px;
    }
    .songSinger {
        text-align: center;
        font-size: 10px;
        font-weight: 400;
        color: $primary-color-2;
        margin-bottom: 24px;
    }
}

.song:hover {
    cursor: pointer;
}

.song.active {
    border: 3px solid $primary-color-2;
    border-radius: 10px;
}

.song:active {
    opacity: 0.7;
}

// song ở trong playing
.song.cd {
    height: 100%;
    width: 45%;
    float: left;
    display: flex;
    // align-items: center;
    // justify-content: center;
    img {
        height: 72px;
        width: 72px;
    }
    .details {
        margin: auto;
        text-align: center;
        .songName {
            font-size: 18px;
        }
        .songSinger {
            font-size: 10px;
            color: $primary-color-2;
        }
    }
}

// Song khi search
#searchList {
    li {
        background-color: $main-color;
        .song.cd {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 30px;
                width: 30px;
            }
            .details {
                margin: auto;
                text-align: center;
                .songName {
                    font-size: 14px;
                    // margin-bottom: 0;
                    margin-top: 0;
                }
                .songSinger {
                    font-size: 10px;
                    color: $primary-color-2;
                    // margin-bottom: 0;
                }
            }
        }
    }
    li:active {
        opacity: 0.7;
    }
}