@import 'variables';
@import 'navbar';
@import 'container';
@import 'playing';
@import 'home-btn';
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gilroy-Regular', sans-serif;
    color: $primary-color-1;
    width: 100vw;
    height: 100vh;
}

#playList {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: $main-color;
    box-sizing: border-box;
    border-radius: 10px;
}

@media screen and (min-width :391px) {
    body {
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(to bottom right, rgb(77, 80, 247), rgb(32, 236, 42));
    }
    #playList {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 800px;
        height: 80vh;
        border-radius: 10px;
    }
}