.navbar {
  position: absolute;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav-arrow {
  background-image: url("../assets/arrow-rightA.png");
  background-size: contain;
  width: 24px;
  height: 24px;
  margin: 0 24px;
}
.navbar .nav-adjust {
  background-image: url("../assets/adjust-horizontal-altB.png");
  background-size: contain;
  width: 24px;
  height: 24px;
  margin: 0 24px;
}

.song {
  margin-left: 20px;
  display: inline-block;
}
.song img {
  height: 145px;
  width: 150px;
  border-radius: 5px;
}
.song .songName {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-top: 11px;
  margin-bottom: 6px;
}
.song .songSinger {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  color: #A5C0FF;
  margin-bottom: 24px;
}

.song:hover {
  cursor: pointer;
}

.song.active {
  border: 3px solid #A5C0FF;
  border-radius: 10px;
}

.song:active {
  opacity: 0.7;
}

.song.cd {
  height: 100%;
  width: 45%;
  float: left;
  display: flex;
}
.song.cd img {
  height: 72px;
  width: 72px;
}
.song.cd .details {
  margin: auto;
  text-align: center;
}
.song.cd .details .songName {
  font-size: 18px;
}
.song.cd .details .songSinger {
  font-size: 10px;
  color: #A5C0FF;
}

#searchList li {
  background-color: #091227;
}
#searchList li .song.cd {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#searchList li .song.cd img {
  height: 30px;
  width: 30px;
}
#searchList li .song.cd .details {
  margin: auto;
  text-align: center;
}
#searchList li .song.cd .details .songName {
  font-size: 14px;
  margin-top: 0;
}
#searchList li .song.cd .details .songSinger {
  font-size: 10px;
  color: #A5C0FF;
}
#searchList li:active {
  opacity: 0.7;
}

.container {
  position: absolute;
  top: 10%;
  width: 100%;
  height: calc(90% - 100px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.container .subbar {
  font-size: 24px;
  font-weight: 700;
  margin-left: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.container .subbar .searchBox {
  box-sizing: border-box;
}
.container .songList {
  margin-top: 20px;
  padding-left: 10px;
  width: calc(100% - 5px);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #5f5a5a;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

input[type=range] {
  display: inline-block;
  -webkit-appearance: none;
  width: 75%;
  height: 5px;
  border-radius: 5px;
  background: #d16060;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f7f4f4;
  color: #000;
  cursor: pointer;
}

::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #6445d6;
  cursor: pointer;
}

#volumn::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f7f4f4;
  color: #000;
  cursor: pointer;
}

#volumn input[type=range] {
  display: inline-block;
  -webkit-appearance: none;
  border-radius: 5px;
  background: #e9e5e5;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input[type=range]:hover {
  cursor: pointer;
}

#search {
  outline: none;
  border: 1px solid #645d5d;
  border-radius: 10px;
  background-color: #091227;
  color: #fff;
  padding-left: 35px;
  margin-right: 20px;
  background-image: url("../assets/magnifying-glass-solid.svg");
  background-repeat: no-repeat;
  background-size: 0.8rem;
  background-position: 10px center;
  width: 70px;
  height: 25px;
  transition: 0.3s ease-in-out;
}

#search:focus {
  width: 180px;
  border: 1px solid #e9dfdf;
  position: relative;
  box-sizing: border-box;
}

#searchList {
  position: absolute;
  list-style-type: none;
  width: 180px;
  display: none;
}

#searchList li {
  text-decoration: none;
  border-bottom: 1px solid grey;
  font-size: 13px;
  height: 40px;
}

#searchList li:hover {
  background-color: #15264e;
}

.playing {
  position: absolute;
  width: calc(100% - 10px);
  bottom: 10px;
  background-color: #091227;
  padding-left: 10px;
}
.playing #timer {
  width: 15%;
  display: inline-block;
  padding-left: 20px;
  text-align: center;
}
.playing .control {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 70px;
  margin-right: 5px;
}
.playing .control #pre-btn {
  margin: auto;
  background-image: url("../assets/backward-step-solid.svg");
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.playing .control #play-btn {
  margin: auto;
  background-image: url("../assets/play-solid.svg");
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  color: aliceblue;
}
.playing .control #play-btn.pause {
  background-image: url("../assets/pause-solid.svg");
  height: 20px;
  width: 20px;
}
.playing .control #next-btn {
  margin: auto;
  background-image: url("../assets/forward-step-solid.svg");
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.playing .control #speaker {
  margin: auto;
  background-image: url("../assets/volume-high-solid.svg");
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.playing .control #volumn {
  transform: rotate(-90deg);
  position: absolute;
  top: -32px;
  left: -15px;
  width: 50px;
  height: 5px;
  z-index: 10;
  display: none;
  cursor: pointer;
}
.playing .control #speaker.clicked > #volumn {
  display: block;
  cursor: pointer;
}
.playing .control #speaker.muted::after {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  height: 100%;
  width: 2px;
  background-color: white;
  transform: rotate(45deg);
}
.playing .control div:hover {
  cursor: pointer;
}

.home-btn {
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-btn button {
  height: 60%;
  width: 30%;
  background-color: #fff;
  border: none !important;
  outline: none !important;
  border-radius: 10px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gilroy-Regular", sans-serif;
  color: #EAF0FF;
  width: 100vw;
  height: 100vh;
}

#playList {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #091227;
  box-sizing: border-box;
  border-radius: 10px;
}

@media screen and (min-width: 391px) {
  #playList {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 80vh;
    border-radius: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
